[mysqld]
port={{PORT}}
server_id={{SERVER_ID}}
basedir={{BASEDIR}}
datadir={{DATADIR}}
socket={{RUNDIR}}/mysql.sock
pid-file={{RUNDIR}}/mysqld.pid
log_error={{LOGDIR}}/error.log
slow_query_log=ON
slow_query_log_file={{LOGDIR}}/slow.log
long_query_time={{LONG_QUERY_TIME}}
character_set_server=utf8mb4
collation_server={{COLLATION}}
log_bin={{BINLOGDIR}}/mysql-bin
binlog_format=ROW
gtid_mode=ON
enforce_gtid_consistency=ON
sync_binlog=1
innodb_flush_log_at_trx_commit=1
innodb_buffer_pool_size={{INNODB_BUFFER_POOL_SIZE}}
max_connections={{MAX_CONNECTIONS}}

[client]
port={{PORT}}
socket={{RUNDIR}}/mysql.sock
